/* ==========================================================================
   ##SITE LAYOUT
   ========================================================================== */

/**
 * Base site layout
 * 
 * CONTENTS:
 * 
 * ##SITE BASE
 * ##SITE CONTENT
 * 
 */

/* ##SITE BASE
   ========================================================================== */
@media (width < theme('screens.md')) {
  .site {
    padding-top: 72px;
    padding-bottom: 56px;
  }
}

@media (width >= theme('screens.md')) {
  .site {
    padding-top: 100px;
  }
}

/* ##SITE CONTENT
   ========================================================================== */
.site-content {
  flex-grow: 1;
}
/* 
.site.fullwidth-content .site-main {
  grid-column: 1 / -1;
} */
