/* ==========================================================================
   #CART
   ========================================================================== */

/* ##CART BASE
   ========================================================================== */
.cart-table {
  width: 100%;
}

.cart-table:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media (width >= theme('screens.lg')) {
  .cart-table td,
  .cart-table th {
    text-align: left;
  }

  .cart-table th {
    padding: 0.75rem 1rem;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgba(173, 173, 173, 0.5);
    font-weight: 700;
  }

  .cart-table td {
    padding: 1rem;
  }
}

.cart-table tbody tr {
  border-bottom: 1px solid rgba(173, 173, 173, 0.5);
}

@media (width < theme('screens.lg')) {
  .cart-table thead {
    display: none;
  }

  .cart-table td {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: right;
  }

  .cart-table .cart-row {
    justify-content: space-between;
  }

  .cart-table td:before {
    content: attr(data-title);

    font-weight: 700;
    margin-right: 1.5rem;
  }

  .cart-table tbody tr {
    position: relative;
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .cart-table tbody tr:first-child {
    border-top: 1px solid rgba(173, 173, 173, 0.5);
  }
}

/* ##CART THUMB
   ========================================================================== */
@media (width >= theme('screens.lg')) {
  .cart-thumb {
    display: block;
    width: 100px;
    height: 100px;
  }
}

/* ##CART AMOUNT
   ========================================================================== */
.cart-amount {
  font-size: 1.125rem;
  font-weight: 700;
  white-space: nowrap;
}

/* ##CART REMOVE
   ========================================================================== */
.cart-remove a {
  display: block;
  width: 24px;
  height: 24px;

  transition: color 0.3s ease;
}

.cart-remove a:hover {
  @apply text-primary-0;
}

@media (width < theme('screens.lg')) {
  .cart-remove {
    position: absolute;
    top: 1rem;
    right: 0;
    padding: 0;
  }
}

/* ##CART ACTIONS
   ========================================================================== */
.cart-actions:not(:last-child) {
  margin-bottom: 3rem;
}

@media (width >= theme('screens.md')) {
  .cart-actions {
    display: flex;
    justify-content: space-between;
  }
}

/* ##CART COUPON
   ========================================================================== */
@media (width < theme('screens.md')) {
  .cart-coupon:not(:last-child) {
    margin-bottom: 2rem;
  }
}

/* ##CART REFRESH
   ========================================================================== */
@media (width < theme('screens.md')) {
  .cart-refresh {
    width: 100%;
  }
}

/* ##CART COLLATERALS
   ========================================================================== */
.cart-collaterals {
  display: flex;
  justify-content: flex-end;
}

/* ##CART TOTALS
   ========================================================================== */
.cart-totals {
  max-width: 420px;
}
