/* ==========================================================================
   #DISCOUNT
   ========================================================================== */

/* ##DISCOUNT BASE
   ========================================================================== */
.discount {
  max-width: 480px;
  padding: 1.25rem;
  border: 2px dashed #e3e3e3;
}

/* ##DISCOUNT LABEL
   ========================================================================== */
.discount-label {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}
