/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/* ##HEADING SECTION
   ========================================================================== */
.heading-section {
  font-weight: 700;
  line-height: 1;
}

@media (width < theme('screens.xs')) {
  .heading-section {
    font-size: 1.25rem;
  }
}

@media (width >= theme('screens.xs')) and (width < theme('screens.md')) {
  .heading-section {
    font-size: 1.75rem;
  }
}

@media (width >= theme('screens.md')) {
  .heading-section {
    font-size: 2.25rem;
  }
}

/* ##HEADING PAGE
   ========================================================================== */
.heading-page {
  font-weight: 900;
  line-height: 110%;
}

@media (width < theme('screens.md')) {
  .heading-page {
    font-size: 1.5rem;
  }
}

@media (width >= theme('screens.md')) {
  .heading-page {
    font-size: 2rem;
  }
}

@media (width >= theme('screens.lg')) {
  .heading-page {
    font-size: 2.5rem;
  }
}

/* ##HEADING BLOCK
   ========================================================================== */
.heading-block {
  font-weight: 700;
  line-height: 1.2;
}

@media (width < theme('screens.md')) {
  .heading-block {
    font-size: 1.25rem;
  }
}

@media (width >= theme('screens.md')) {
  .heading-block {
    font-size: 1.5rem;
  }
}
