/* ==========================================================================
   #LINK
   ========================================================================== */

/* ##LINK BASE
   ========================================================================== */
.link {
  color: inherit;
  transition: color 0.3s ease;
}

.link:hover {
  @apply text-primary-0;
}

/* ##LINK UNDERLINED
   ========================================================================== */
.link--underlined {
  text-decoration: underline;
}
