/* ==========================================================================
   #LOGO
   ========================================================================== */

/* ##LOGO BASE
   ========================================================================== */
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  letter-spacing: 0.02em;

  transition: color 0.3s ease;
}

/* ##LOGO TITLE
   ========================================================================== */
.logo-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* ##LOGO SUBTITLE
   ========================================================================== */
.logo-subtitle {
  font-size: 0.75rem;
}
