/* ==========================================================================
   #PRODUCTS
   ========================================================================== */

.products {
  display: grid;
  grid-gap: 1.5rem;
  justify-content: center;
}

@media (width >= theme('screens.md')) and (width < theme('screens.lg')) {
  .products {
    grid-template-columns: repeat(2, minmax(0, 320px));
  }
}

@media (width >= theme('screens.lg')) and (width < theme('screens.xl')) {
  .products {
    grid-template-columns: repeat(2, minmax(0, 360px));
  }
}

@media (width >= theme('screens.xl')) {
  .products {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.products:not(:last-child) {
  margin-bottom: 2rem;
}
