/* ==========================================================================
   ##SHIPPING
   ========================================================================== */

/* ##SHIPPING BASE
   ========================================================================== */
.shipping {
  font-size: 0.875rem;
}

/* ##SHIPPING LIST
   ========================================================================== */
.shipping-list:not(:last-child) {
  margin-bottom: 0.75rem;
}

/* ##SHIPPING METHOD
   ========================================================================== */
.shipping-method {
  display: flex;
  align-items: center;
  line-height: 1;
}

.shipping-method:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* ##SHIPPING DESTINATION
   ========================================================================== */
.shipping-destination {
}
