/* ==========================================================================
   #TOAST
   ========================================================================== */

/* ##TOAST BASE
   ========================================================================== */
.toast {
  min-height: 48px;
  padding: 0.75rem 1.75rem;
  background-color: #fff;
  color: #000;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  transition: all 0.3s ease-in-out;

  @apply bg-base-40 text-base-0;
}

.toast:not(:last-child) {
  margin-bottom: 1.5rem;
}

.toast a {
  text-decoration: underline;
}

.toast a:hover {
  text-decoration: none;

  @apply text-primary-0;
}

/* ##TOAST SUCCESS
   ========================================================================== */
.toast--success {
  border-left: 3px solid #6ec05f;
}

/* ##TOAST INFO
   ========================================================================== */
.toast--info {
  border-left: 3px solid #1271ec;
}

/* ##TOAST ERROR
   ========================================================================== */
.toast--error {
  border-left: 3px solid #d60a2e;
}
