mixin orderby({ classname } = {})
  form.woocommerce-ordering(action="#" class=classname)
    select.orderby(name="orderby" aria-label="Заказ в магазине")
      option(value="menu_order" selected="selected") Исходная сортировка
      option(value="popularity") По популярности
      option(value="rating") По рейтингу
      option(value="date") Сортировка от последнего
      option(value="price") Цены: по возрастанию
      option(value="price-desc") Цены: по убыванию