extends layout/default

block vars
  -
    locals.page = {
      language: 'ru',
      name: 'home',
      title: 'Bestshave.ru • Только качественные товары для мужчин',
      description: 'Page description'
    }


block main
  main.flex-grow
    
    //- =============================================================================
    //- ##HERO SECTION
    //- =============================================================================
    section.hero.wrapper
      .hero-showcase.swiper-container
        .swiper-wrapper
          .swiper-slide
            img.hero-media(src="img/uploads/gallery-9.png" alt="")
          .swiper-slide
            img.hero-media(src="img/uploads/gallery-10.png" alt="")
          .swiper-slide
            img.hero-media(src="img/uploads/gallery-4.png" alt="")
          .swiper-slide
            img.hero-media(src="img/uploads/gallery-1.png" alt="")
          .swiper-slide
            img.hero-media(src="img/uploads/gallery-5.png" alt="")
          .swiper-slide
            img.hero-media(src="img/uploads/gallery-6.png" alt="")
      
      .hero-content
        h1.hero-title.heading-callout Только #[em качественные] товары для #[em мужчин]
        a.btn.btn--primary.w-full.px-14.py-4(href="#" class="xs:w-auto") Каталог

