extends layout/default

block vars
  -
    locals.page = {
      language: 'ru',
      name: 'home',
      title: 'Bestshave.ru • Только качественные товары для мужчин',
      description: 'Page description'
    }


block main
  main.flex-grow
    .container
      p Main content
