meta(charset='utf-8')

title My title

meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="description", content="page.description")
meta(name="theme-color" content="#000000")

link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")

link(rel="stylesheet", href="css/main.css")
